@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  /* --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
} */
}

@media (prefers-color-scheme: dark) {
  :root {
    background-color: black;
    color: antiquewhite;
    /* --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0; */
  }
}
.bg-rgba {
  /* background-color: hsla(183, 89%, 58%, 0.5); */
  /* background: linear-gradient(to right,hsla(183, 89%, 58%, 0.5) 50%, hsla(183, 89%, 58%, 0.1) 90%); */
  border: 1px solid #e1b0ff;
  border-left: 0;

  /* border-radius: 8px; */
  border-top-right-radius: 8px;
  border-bottom-right-radius: 8px;
  border-bottom-left-radius: 8px;
  /* box-shadow: 20px 0 50px rgba(255,255,255, 0.8); */
  background: transparent;
  backdrop-filter: blur(3px);
}

.text-bittersweet {
  color: #ff6f6a;
}

body {
  /* color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb)); */
}
